* {
  font-family: Futura, sans-serif;
  background-color: #ddd;
}
html,
body {
  margin: 0;
}

header {
  text-align: center;
  justify-items: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 36pt;
  max-width: 400px;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 400px;
  max-height: 50px;
  margin: auto;
  margin-bottom: 3em;
}

.textInput {
  margin-right: 10px;
  max-width: 300px;
  border: 2px solid #999;
  border-radius: 4px;
  font-size: 18pt;
  background-color: #ddd;
  color: #999;
}

.textInput:focus {
  border: 3px solid #555;
  background-color: #ccc;
  color: #aaa;
}

.sendButton {
  border: 2px solid #999;
  max-width: 90px;
  max-height: 50px;
  border-radius: 4px;
  font-size: 10pt;
  background-color: #ddd;
  color: #999;
}

.sendButton:hover {
  text-decoration: underline;
  cursor: pointer;
  background-color: #ccc;
}

.task {
  max-width: 400px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  padding-bottom: 2em;
}
.buttonSpace {
  margin-left: 1em;
  background: none;
}
div {
  margin-top: 2em;
}

@media (max-width: 400px) {
  .task {
    max-width: 320px;
  }
  .textInput {
    max-width: 250px;
    max-height: 40px;
    font-size: 12pt;
  }
  .sendButton {
    max-width: 65px;
    max-height: 40px;
    font-size: 8pt;
  }
}
